[Unit]
Description=MO OS boot validation target
Requires=multi-user.target
After=multi-user.target
Wants=mo-boot-ready.service mo-install-autotest.service
AllowIsolate=yes
